name: Update EPG
on:
  schedule:
    - cron: '30 0 * * *' # Roda 00:30 (logo após a atualização da lista)
  workflow_dispatch:

jobs:
  epg_job:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install Dependencies
        run: pip install requests
      - name: Run EPG Script
        run: python fetch_epg.py
      - name: Push Changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Bot: EPG atualizado"
